.bento-grid {
    display: grid;
    gap: var(--space);
}

@media (min-width: 50rem) {
    .bento-grid {
        grid-template-columns: repeat(var(--col-count, 3), 1fr);
        grid-template-rows: repeat(var(--row-count, 3), auto);
    }

    .bento-grid>* {
        grid-column: var(--col);
        grid-row: var(--row);
    }
}

/* --- Demo styles --- */
:root {
    --space: 1.25rem;
    --text: #f8fafc;
    --surface-1: #020617;
    --surface-2: #0f172a;
    --surface-3: #1e293b;
    --gradient: linear-gradient(20deg,
            hsla(0 0% 0% / 0) 20%,
            hsla(0 0% 100% / 0.065) 120%);
}

* {
    box-sizing: border-box;
}


h2 {
    font-weight: 600;
    font-size: 1.65rem;
    line-height: 1.1;
}

.item {
    border: 1px solid var(--surface-3);
    background-color: var(--surface-2);
    background-image: var(--gradient);
    padding: var(--space);
    border-radius: 0.5rem;
    text-decoration: none;
}

.item>*+* {
    margin-block-start: 1.125rem;
}