.bento-grid {
    display: grid;
    gap: var(--space);
}

@media (min-width: 50rem) {
    .bento-grid {
        grid-template-columns: repeat(var(--col-count, 3), 1fr);
        grid-template-rows: repeat(var(--row-count, 3), auto);
    }

    .bento-grid>* {
        grid-column: var(--col);
        grid-row: var(--row);
    }
}

/* --- Demo styles --- */


.item {
    border: 1px solid var(--surface-3);
    background-color: var(--surface-2);
    background-image: var(--gradient);
    padding: var(--space);
    border-radius: 0.5rem;
    text-decoration: none;
}

.item>*+* {
    margin-block-start: 1.125rem;
}